@page "/productos"
@using blazor.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Productos de Postgres onCloud</h3>

<button @onclick="AgregarProducto" class="btn btn-primary">Agregar Producto</button>

@if(productos!.Count <= 0)
{
    <p><em>Cargando Productos... </em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>                
                <th>Nombre</th>                
                <th>Descripcion</th>                
                <th>Precio</th>                
                <th></th>                
            </tr>
        </thead>

        <tbody>
            @foreach (var product in productos)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Nombre</td>
                    <td>@product.Descripcion</td>
                    <td>@product.Precio</td>
                    <td>
                        <button @onclick="() => EditarProducto(product.Id)" class="btn btn-primary">Editar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    List<Producto>? productos = new List<Producto>();

    protected override async Task OnInitializedAsync()
    {
        productos = await Http.GetFromJsonAsync<List<Producto>>("/api/producto");
    }

    void AgregarProducto()
    {
        NavigationManager.NavigateTo("/producto");
    }

    void EditarProducto(int id)
    {
        NavigationManager.NavigateTo($"/producto/{id}");
    }
}
